PORT=4000
HOST=127.0.0.1
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/headless_cms?schema=public"
JWT_SECRET="dev_jwt_secret_headless_cms_super_secure_key_12345"
UPLOAD_DIR="./uploads"
BASE_URL="http://localhost:4000"
